<div class="community-page">
    <div class="row">
      <div class="col-13">
          <h1>Community Feed</h1>
          <h6>Discover new recipes and find out what your friends are cooking!</h6>
      </div>
    </div>
    <% for (let i = 0; i < recipes.length; i++) { %>
        <div class="saved-recipe">
            <h5><%= recipes[i].savedBy.fullName %> saved:</h5>
            <a href="/recipe/<%= recipes[i].recipeId.id %>" class="row recipe-row">
                <div class="col-4">
                    <img src="<%= recipes[i].recipeId.image %>" class="img-fluid" alt="<%= recipes[i].recipeId.recipeName %>"/>
                </div>
                <div class="col-8">
                    <h3><%= recipes[i].recipeId.recipeName %></h3>
                    <p><span class="recipe-description">Prep Time: </span><%= recipes[i].recipeId.prepTime == '' ? 'N/A' : recipes[i].recipeId.prepTime%></p>
                    <p><span class="recipe-description">Diet Type: </span><%= recipes[i].recipeId.dietType == '' ? 'N/A' : recipes[i].recipeId.dietType%></p>
                    <p><span class="recipe-description">Cooking Method: </span><%= recipes[i].recipeId.cookingMethod == '' ? 'N/A' : recipes[i].recipeId.cookingMethod%></p>
                </div>
            </a>
        </div>
    <% } %>
</div>
