<div class="user-details">
    <div class="row">
        <div class="col-8">
            <h1><%= fullName %></h1>
        </div>
        <div class="col-4">
            <% if (id != req.session.userId) { %>
                <% if (!following) { %>
                    <a class="btn btn-primary" href="/follow-user/<%= id %>">Follow</a>
                <% } else { %>
                    <a class="btn btn-primary" href="/unfollow-user/<%= id %>">Unfollow</a>
                <% } %>
            <% } %>
        </div>
    </div>
    <p>
        <%= userProfile.followerList ? userProfile.followerList.length : 0 %> followers
        <%= userProfile.followingList ? userProfile.followingList.length : 0 %> following
    </p>
    <h2>MY COOKBOOK</h2>
    <% 
    let cookbook = userProfile.cookbook ? userProfile.cookbook : [];

    for (let i = 0; i < cookbook.length; i++) {
    %>
        <a href="/recipe/<%= cookbook[i].id %>" class="row recipe-row">
            <div class="col-4">
                <img src="<%= cookbook[i].image %>" class="img-fluid" alt="<%= cookbook[i].recipeName %>"/>
            </div>
            <div class="col-8">
                <h3><%= cookbook[i].recipeName %></h3>
                <p><%= cookbook[i].prepTime %></p>
                <p><%= cookbook[i].dietType %></p>
                <p><%= cookbook[i].cookingMethod %></p>
            </div>
        </a>
    <% } %>
</div>