<div class="recipe-details">
    <div class="row recipe-row">

        <div class="col-md-6 col-12 recipe-media-column">
            <img src="<%= image %>" class="img-fluid recipe-media" alt="<%= recipeName %>"/>
        </div>
        <div class="col-md-6 col-12 recipe-details-column">
            <h1><%= recipeName %></h1>
            <p class="rating"><span class="avg">Rating: </span><%= rating %>/5</p>
            <p class="user-ratings"><%= reviews.length %> user reviews</p>
            <% if (!saved) { %>
                <a href="/save-recipe/<%= id %>" class="btn btn-primary">Save Recipe</a>
            <% } else { %>
                <a href="/unsave-recipe/<%= id %>" class="btn btn-primary">Unsave Recipe</a>
            <% } %>

            <div class="description">
                <p class="recipe-description"><span class="general-info">Diet Type: </span><%= dietType == '' ? 'N/A' : dietType %></p>
                <p class="recipe-description"><span class="general-info">Prep Time: </span><%= prepTime == '' ? 'N/A' : prepTime %></p>
                <p class="recipe-description"><span class="general-info">Cooking Method: </span><%= cookingMethod == '' ? 'N/A' : cookingMethod %></p>
            </div>
        </div>
        <div class="recipe-ingredients-instructions">
            <div class="ingredients">
                <p class="details-title">Ingredients</p>
                <ul>
                    <% for (let i = 0; i < ingredients.length; i++) { %>
                        <li class="ingredients-list"><%= ingredients[i].ingredientName %></li>
                    <% } %>
                </ul>
            </div>
            <div class="instructions">
                <p class="details-title">Instructions</p>
                <ol class="instructions-num">
                    <%
                    instructionsArray = instructions.split('||');
                    for (let i = 0; i < instructionsArray.length; i++) {
                    %>
                        <li class="instructions-list"><span class="instructions-text"><%= instructionsArray[i] %></span></li>
                    <% } %>
                </ol>
            </div>
        </div>
        <div class="reviews">
            <span class="details-title review-title">Reviews</span>
            <form class="review" method="post" action="/recipe/create-review">
                <h5>Review This Recipe</h5>
                <input type="hidden" value="<%= id %>" name="recipeId">
                <label for="rating1">1</label>
                <input type="radio" name="rating" id="rating1" value="1" checked>
                <label for="rating2">2</label>
                <input type="radio" name="rating" id="rating2" value="2">
                <label for="rating3">3</label>
                <input type="radio" name="rating" id="rating3" value="3">
                <label for="rating4">4</label>
                <input type="radio" name="rating" id="rating4" value="4">
                <label for="rating5">5</label>
                <input type="radio" name="rating" id="rating5" value="5">
                <br>
                <input name="review" placeholder="Write your one line review here...">
                <button class="submit btn">Submit Review</button>
            </form>
            <% for (let i = 0; i < reviews.length; i++) { %>
                <div class="past-reviews">
                    <h3 class="name"><a href="/user/<%= reviews[i].user.id %>"><%= reviews[i].user.fullName %></a></h3>
                    <p><span class="txt-title">Rating: </span><%= reviews[i].rating %></p>
                    <p><span class="txt-title">Review: </span><%= reviews[i].reviewBody %></p>
                </div>
            <% } %>
        </div>
    </div>
</div>
