<div class="user-details">
    <!--Name, edit profile, settings button-->
    <div class="row">
        <div class="col-md-8">
            <h1><%= fullName %></h1>
        </div>

        <div class="col-md-4">
            <div class="float-right">
                <% if (req.session.userId == id) { %>
                    <a href="/logout"><button class="profile">Logout</button></a>
                <% } else if (!following) { %>
                    <a href="/follow-user/<%= id %>"><button class="profile">Follow</button></a>
                <% } else { %>
                    <a href="/unfollow-user/<%= id %>"><button class="profile">Unfollow</button></a>
                <% } %>
                <a class="icon" href="/account/password"><button class="settings"><i class=" settings fa fa-cog fa-2x"></i></button></a>
            </div>

        </div>

    </div>

    <!--followers row-->
    <div class="row">
        <p>
            <span class="number"><%= userProfile.followerList ? userProfile.followerList.length : 0 %></span><span class="label"> followers</span>
            <span class="number"><%= userProfile.followingList ? userProfile.followingList.length : 0 %></span><span class="label"> following</span>
        </p>
    </div>

    <!--my cookbook-->
    <h2>MY COOKBOOK</h2>
    <%
    let cookbook = userProfile.cookbook ? userProfile.cookbook : [];

    for (let i = 0; i < cookbook.length; i++) {
    %>
        <a href="/recipe/<%= cookbook[i].id %>" class="row recipe-row">
            <div class="col-4">
                <img src="<%= cookbook[i].image %>" class="img-fluid" alt="<%= cookbook[i].recipeName %>"/>
            </div>
            <div class="col-8">
                <h3><%= cookbook[i].recipeName %></h3>
                <p> <span class="recipe-description">Prep Time: </span><%= cookbook[i].prepTime == '' ? 'N/A' : cookbook[i].prepTime%></p>
                <p><span class="recipe-description">Diet Type: </span><%= cookbook[i].dietType == '' ? 'N/A' : cookbook[i].dietType%></p>
                <p><span class="recipe-description">Cooking Method: </span><%= cookbook[i].cookingMethod == '' ? 'N/A' : cookbook[i].cookingMethod%></p>
            </div>
        </a>
    <% } %>

</div>
