<div class="user-details">
    <!--Name, edit profile, settings button-->
    <div class="row">
        <div class="col-md-8">
            <h1><%= fullName %></h1>
        </div>
            
        <div class="col-md-4">
            <div class="float-right">
                <a href="/account/profile"><button class="profile">Edit Profile</button></a>
                <a href="/account/password"><button class="settings"><i class="fa fa-cog fa-2x"></i></button></a>
            </div>
            
        </div>
        
    </div>

    <!--followers row-->
    <div class="row">
        <p>
            <span class="number"><%= userProfile.followerList ? userProfile.followerList.length : 0 %></span><span class="label"> followers</span>
            <span class="number"><%= userProfile.followingList ? userProfile.followingList.length : 0 %></span><span class="label"> following</span> 
        </p>
    </div>
    
    <!--my cookbook-->
    <h2>MY COOKBOOK</h2>
    <% 
    let cookbook = userProfile.cookbook ? userProfile.cookbook : [];

    for (let i = 0; i < cookbook.length; i++) {
    %>
        <a href="/recipe/<%= cookbook[i].id %>" class="row recipe-row">
            <div class="col-4">
                <img src="<%= cookbook[i].image %>" class="img-fluid" alt="<%= cookbook[i].recipeName %>"/>
            </div>
            <div class="col-8">
                <h3><%= cookbook[i].recipeName %></h3>
                <p> Prep Time: <%= cookbook[i].prepTime %></p>
                <p>Diet Type: <%= cookbook[i].dietType %></p>
                <p>Cooking Method: <%= cookbook[i].cookingMethod %></p>
            </div>
        </a>
    <% } %>
    
</div>